<div class="card">
  <div class="card-header">
    <h4 class="card-title">Hijo</h4>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="nombre">Di el nombre que te gusta</label>
      <input type="text" class="form-control" name="nombre" id="nombre" aria-describedby="helpId" placeholder=""
      [(ngModel)] = "miNombre">
    </div>
    <button type="button" class="btn btn-primary" (click) = "btnRespuesta()">No me gusta {{hijoNombre}}</button>
  </div>
  <div class="card-footer text-muted">
    <p>Mi nombre es {{hijoNombre}}</p>
  </div>
</div>